body{
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #5C5C5C;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.frame {
    border: 1px solid #BBBCBB;
    border-radius: 10px;
    width: 450px;
    color: #5C5C5C;
    display: block;
    padding: 10px;
    
}

.frame-lg{
    width: 650px;
}

.error{
    margin-left: 5px;
    color:red;
}

.bullet{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.label{
    border-radius: 10px;  
    padding: 20px;
}

.danger{
    border: 1px solid red;
    background-color: #ffc7ce;
}

.success{
    border: 1px solid green;
    background-color: lightcyan;
}